<article role="article">
    
    <h2 class="article-title">
      <div id="avatar"></div>
      <a href="https://mlb.com">Miguel Cabrera</a>
    </h2>

    <div class="player-score">
        98
    </div>

    <div class="tabbed-articles">
      <div class="data-stats">
        <ul class="article-tabs">
          <li role="tab">
            <a href="#katch-our-drift" class="">PA</a>
          </li>
          <li role="tab">
            <a href="#news" class="">Hits</a>
          </li>
          <li role="tab">
            <a href="#press-releases" class="">SO</a>
          </li>
          <li role="tab">
            <a href="#katch-up-on-ad-tech" class="">aEV</a>
          </li>
          <li role="tab">
            <a href="#research" class="">K%</a>
          </li>
        </ul>
        <ul class="article-tabs-detail">
          <li role="tab">
            <a href="#katch-our-drift" class="">48</a>
          </li>
          <li role="tab">
            <a href="#news" class="">14</a>
          </li>
          <li role="tab">
            <a href="#press-releases" class="">6</a>
          </li>
          <li role="tab">
            <a href="#katch-up-on-ad-tech" class="">101.5</a>
          </li>
          <li role="tab">
            <a href="#research" class="">44%</a>
          </li>
        </ul>
      </div>
    </div>

  </article>