.article-title a {
    vertical-align: -webkit-baseline-middle;
}

#avatar {
    background-image: url('https://image.flaticon.com/icons/svg/166/166366.svg');
    width: 40px;
    height: 40px;
    background-size: cover;
    background-position: top center;
    border-radius: 50%;
    display: inline-block;
    vertical-align: top;
}

.data-stats {
    display: inline-block;
    width: 100%;
    padding: 0px 0px 0px 0px;
}

@media screen and (max-width: 420px) {
    .data-stats {
        display: inline-block;
        width: 100%;
        padding: 0px 0px 0px 0px;
        display: flex;
    }
}

.player-score {
    position: relative;
    float: right;
    vertical-align: top;
    top: -60px;
    font-size: 42px;
}

@media screen and (max-width: 420px) {
    .player-score {
        position: fixed;
        float: right;
        vertical-align: top;
        top: 90px;
        font-size: 42px;
        padding-left: 55px;
    }
}