<article role="article">

    <h2 class="article-title">
        <div id="avatar">
            <img [src]="player.imgUrl"/>
        </div>
        <a href="https://mlb.com">{{player.name}}</a>
    </h2>

    <div class="player-score">
        89
    </div>

    <div class="tabbed-articles">
        <div class="data-stats">
            <ul class="article-tabs">
                <li role="tab">
                    <img src="../../assets/fastpitch.jpg" alt="fastpitch" />
                </li>
                <li role="tab">
                    <img src="../../assets/moveoutpitch.jpg" alt="moveoutpitch" />
                </li>
                <li role="tab">
                    <img src="../../assets/moveinpitch.jpg" alt="moveinpitch" />
                </li>
                <li role="tab">
                    <img src="../../assets/movedownpitch.jpg" alt="movedownpitch" />
                </li>
                <li role="tab">
                    <img src="../../assets/offspeedpitch.jpg" alt="offspeedpitch" />
                </li>
                <li role="tab">
                    <img src="../../assets/power.jpg" alt="power" />
                </li>
                <li role="tab">
                    <img src="../../assets/so.png" alt="so" />
                </li>
            </ul>
            <ul class="article-tabs-detail">
                <li role="tab">
                    {{formatFloat(player.fast_pitches)}}
                </li>
                <li role="tab">
                    {{player.move_out_pitches}}
                </li>
                <li role="tab">
                    {{player.move_in_pitches}}
                </li>
                <li role="tab">
                    {{player.move_down_pitches}}
                </li>
                <li role="tab">
                    {{player.offspeed_pitches}}
                </li>
                <li role="tab">
                    {{player.a}}
                </li>
                <li role="tab">
                    {{player.a}}
                </li>
            </ul>
        </div>
    </div>

</article>