.title {
    font: 700 40px/50px Pilcrow-Bold, sans-serif;
}

.flex-grid {
    width: 100%;
    display: flex;
    align-items: flex-start;
	justify-content: space-between;
}

.col {
    width: 47.5%;
    padding: 10px;
}

.col-sm {
    width: 5%;
    padding: 10px;
}